<div class="home-container">
  <h3>Welcome to the BlackJack Recommendation Generator!</h3>
  <p>
    Here you can enter your BlackJack hand and the dealer face up card and
    receive back an instant recommendation on how to properly play your hand...
    This BlackJack Recommendation Generator assumes Las Vegas rules and
    practices to provide recommendations.
  </p>
  <h5>How to use this application:</h5>
  <p>
    1. Login <br />
    2. Navigate to the "Hand Recommendation" tab.<br />
    <b>OR</b> <br />Quickly Add a game or games to your history using the "Quick
    Add" tab. <br />3. View your analysis and game history in the "History"
    tab.<br /><br />
    <b>***</b> If you do not have a login or do not wish to register, you can
    still use the "Hand Recommendation" tab, however, you will not be able to
    view game history or analysis.
  </p>
</div>
